.main{
    width: 1500px;
    height: 700px;
    /* border: 5px double black; */
}
.sub1{
    width: 1500px;
    height: 360px;
    /* border: 2px solid red; */
}
.sub2{
    width: 1500px;
    height: 340px;
}
.container, .i2, .i3, .i4,.i5,.i6,.i7,.i8{
    width: 350px;
    height: 350px;
    /* border: 5px double black; */
    position: relative;
    bottom: -10px;
    left: 15px;
    display: inline-block;
    padding-left: 10px;
}
.i, .a, .b, .c,.d,.e,.f,.g{
    width: 100px;
    /* height: 200px; */
    position: absolute;
    /* border: 1px solid red; */
    background-color: black;
    color: white;
    padding-left: 10px;
    font-size: 10px;
}
img{
    width: 100%;
    height: 350px;
}